*{
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  color: $dark-grey;
  line-height: 1.6;
  //gives us more space between every line of paragraphs and others

}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}


.is-active{
  color:blue;
}